/* NOTES
	pink: #ec476b
	blue: #71d4dd
	black: #1a1a1a
	darker grey: #a7a9ab
	lighter grey: #3cb8ae
/*

/* BASE TYPOGRAPHY */

	body {
		font-family: Roboto;
		background-color: #1a1a1a;
		margin:0;
		color:#ffffff;
		text-align:left;
	}

	p {
		font-size:12px;
		color:#fff;
	}

	h1 {
		font-family:Roboto;
		font-style: italic;
		font-weight:black;
		font-size: 36px;
		text-transform: uppercase;
		margin:0;
	}

	h2 {
		font-size:24px;
		color: #ec476b;
	}




/* BUTTONS */



/* SPLASH SECTION */

	.trumpSplash.parallax {
    min-height: 100vh;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
  }

	.trumpBackground {
    height: 1067px;
		background-image: url("../images/Trump_Intro_File.jpg");
    background-size:100%;
    background-repeat:no-repeat;
  }

  .trumpSplash .background {
    transform: translateZ(-2px) scale(3);
  }

  .trumpSplash .foreground {
    transform: translateZ(0px);
  }

  .parallaxPage {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
  }

  .parallaxGroup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

   	.introText.top {
   		min-height:100vh;
   	}

   	.introText h1 {
   		padding:11rem 1rem 3rem;
   	}

   	.introText.bottom {
   		font-size: 44px;
   	}

   	.introText.bottom h1 {
   		padding:6rem 1rem 6rem;
   	}

   	.topLogo {
   		width:100px;
   		float:right;
   		padding:1rem;
   	}

   	.superbig {
   		font-size:44px;
   	}

/* PARALLELOGRAM SHAPES */
	.stripeContainer {
		overflow:hidden;
		max-width:100%;
	}


	.stripeContainer.above {
		margin-top: 0px;
	}

	.stripeContainer.straddling {
		margin-top:-45px;
	}

	.stripe {
	    width: 150px;
	    height: 45px;
	    margin: 0 -20px 45px 0;
	    -webkit-transform: skew(-30deg);
	       -moz-transform: skew(-30deg);
	         -o-transform: skew(-30deg);
	    overflow:hidden;
	    float:right;
	    clear:both;
	}

	.stripe.long {
		width: 250px;
	}

	.clear {
		clear:both;
	}


/* INTRODUCTION */



/* HEADER ACTION BAR */



/* TIMELINE ITSELF */

	.timeline {
        background-repeat:no-repeat;
	    /* Set a specific height */
	    min-height: 800px;
	    /* Create the parallax scrolling effect */
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
   	}

/* TIMELINE EVENT */



/* TIMELINE QUOTE */



/* TIMELINE WRIT LARGE */

	.theme {
		width:86%;
		padding:3% 7%;
		display:inline-block;
	}

	.blue {
		background-color: #71d4dd;
	}

	.black {
		background-color: #1a1a1a;
	}

	.white {
		background-color:#fff;
	}

/* TIMELINE BORDERS */

	.borderLeft {
		border-left:5px solid #ec476b;
	}

	.borderRight {
		border-right:5px solid #ec476b;
	}

	.borderTop {
		border-top:5px solid #ec476b;
	}

	.borderBottom {
		border-bottom:5px solid #ec476b;
	}


/* END OF TIMELINE */



/* MODALS */

/* ICONS */

	.iconCircle {
		width:100px;
	}






@media screen and (min-width: 750px) {

	/* TYPOGRAPHY */
		h1 {
			font-size: 48px;
		}

		h2 {
			font-size:36px;
		}

		p {
			font-size:16px;
		}

	/* SPLASH SECTION */

		.introText h1 {
	   		padding:9em 1em 2em;
	   	}

		.introText.darker h1 {
			font-size:58px;
			padding:5em 1em 5em;

		}

		.topLogo {
			width:150px;
		}

		.superbig {
	   		font-size:58px;
	   	}

	/* PARALLELOGRAM SHAPES */

		.stripe {
			width:500px;
		}

		.stripe.long {
			width:600px;
		}


}
