/* NOTES
	pink: #ec476b
	blue: #71d4dd
	black: #1a1a1a
	darker grey: #a7a9ab
	lighter grey: #3cb8ae
/*

/* BASE TYPOGRAPHY */

	body {
		font-family: Roboto;
		background-color: #1a1a1a;
		margin:0;
		color:#ffffff;
		text-align:left;
	}

	p {
		font-size:1em;
		color:#fff;
	}

	h1 {
		font-family:Roboto;
		font-style: italic;
		font-weight:black;
		font-size: 2em;
		text-transform: uppercase;
		margin:0;
	}

	h2 {
		font-size:1.5em;
		color: #ec476b;
	}




/* BUTTONS */



/* SPLASH SECTION */

	.trumpSplash {
		background-image: url("../images/Trump_Intro_File.jpg");
        background-size:100%;
        background-repeat:no-repeat;
	    /* Set a specific height */
	    min-height: 800px;
	    /* Create the parallax scrolling effect */
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
   	}

   	.introText {
   		padding:11em 1em 3em;
   	}

   	.introText.darker {
   		background: rgba(0,0,0,0.5);
   		font-size: 3em;
   		padding:6em 1em 6em;

   	}

   	.topLogo {
   		width:100px;
   		float:right;
   		padding:1em;
   	}

   	.superbig {
   		font-size:3em;
   	}

/* PARALLELOGRAM SHAPES */
	.stripe {
	    width: 150px;
	    height: 45px;
	    margin: 0 -20px 45px 0;
	    -webkit-transform: skew(-30deg);
	       -moz-transform: skew(-30deg);
	         -o-transform: skew(-30deg);
	    overflow:hidden;
	    float:right;
	    clear:both;
	}

	.stripe.long {
		width: 250px;
	}

	.stripe.above {
		margin-top:-180px;
	}

	.stripe.long.above {
		margin-top:-90px;
	}

	.stripe.straddling {
		margin-top:-45px;
	}

	.stripe.long.straddling {
		margin-top:0;
	}

	.clear {
		clear:both;
	}


/* INTRODUCTION */



/* HEADER ACTION BAR */



/* TIMELINE ITSELF */

	.timeline {
        background-repeat:no-repeat;
	    /* Set a specific height */
	    min-height: 800px;
	    /* Create the parallax scrolling effect */
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
   	}

/* TIMELINE EVENT */



/* TIMELINE QUOTE */



/* TIMELINE THEME */

	.theme {
		width:86%;
		padding:2em 7%;
		display:inline-block;
	}

	.blue {
		background-color: #71d4dd;
	}

	.black {
		background-color: #1a1a1a;
	}

	.white {
		background-color:#fff;
	}


/* END OF TIMELINE */



/* MODALS */

/* ICONS */

	.iconCircle {
		width:100px;
	}






@media screen and (min-width: 750px) {

	/* TYPOGRAPHY */
		h1 {
			font-size: 3.25em;
		}

		h2 {
			font-size:2.5em;
		}

		p {
			font-size:1.5em;
		}

	/* SPLASH SECTION */

		.introText {
	   		padding:9em 1em 2em;
	   	}

		.introText.darker {
			font-size:4em;
			padding:5em 1em 5em;

		}

		.topLogo {
			width:150px;
		}

		.superbig {
	   		font-size:5em;
	   	}

	/* PARALLELOGRAM SHAPES */

		.stripe {
			width:500px;
		}

		.stripe.long {
			width:600px;
		}


}