/* NOTES
	pink: #ec476b
	blue: #71d4dd
	black: #1a1a1a
	darker grey: #a7a9ab
	lighter grey: #3cb8ae
/*

/* BASE TYPOGRAPHY */

	body {
		font-family: Roboto;
		background-color: #1a1a1a;
		margin:0;
		color:#ffffff;
		text-align:left;
	}

	p {

	}

	h1 {
		font-family:Roboto;
		font-style: italic;
		font-weight:black;
		font-size: 2em;
		text-transform: uppercase;
		margin:0;
	}

	h2 {

	}




/* BUTTONS */



/* SPLASH SECTION */

	.trumpSplash {
		background-image: url("../images/Trump_Intro_File.jpg");
        background-size:100%;
        background-repeat:no-repeat;
	    /* Set a specific height */
	    min-height: 800px;
	    /* Create the parallax scrolling effect */
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
   	}

   	.introText {
   		padding:11em 1em 3em;
   	}

   	.introText.darker {
   		background: rgba(0,0,0,0.5);
   		font-size: 3em;
   		padding:6em 1em 5em;

   	}

   	.topLogo {
   		width:100px;
   		float:right;
   		padding:1em;
   	}

/* PARALLELOGRAM SHAPES */
	.stripe {
	    width: 150px;
	    height: 25px;
	    margin: -100px -20px 25px 0;
	    -webkit-transform: skew(-30deg);
	       -moz-transform: skew(-30deg);
	         -o-transform: skew(-30deg);
	    background: #71d4dd;
	    overflow:hidden;
	    float:right;
	    clear:both;
	}

	.stripe.long {
		width: 250px;
		margin-top:-50px;
	}

	.clear {
		clear:both;
	}


/* INTRODUCTION */



/* HEADER ACTION BAR */



/* TIMELINE EVENT */



/* TIMELINE QUOTE */



/* TIMELINE THEME */

	.theme {
		width:100%;
		padding:2em 1em;
		display:inline-block;
	}

	.blue {
		background-color: #71d4dd;
	}


/* END OF TIMELINE */



/* MODALS */






@media screen and (min-width: 750px) {

	/* TYPOGRAPHY */
		h1 {
			font-size: 3.25em;
		}

	/* SPLASH SECTION */

		.introText {
	   		padding:9em 1em 2em;
	   	}

		.introText.darker {
			font-size:4em;
			padding:5em 1em 4em;

		}

		.topLogo {
			width:150px;
		}

	/* PARALLELOGRAM SHAPES */

		.stripe {
			width:500px;
		}

		.stripe.long {
			width:600px;
		}


}